.search-suggestions {
  max-height: 200px;
  overflow: auto;
  margin-top: 5px;
  background-color: white;
  /* TODO: Add this to socialbase/blue */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-suggestions__all {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
}

.search-suggestion {
  display: flex;
}

.search-suggestion__type {
  flex: 0 0 110px;
  margin-left: 20px;
  padding: 20px 20px 20px 0;
  font-size: 14px;
  /* Line height to equal height on a 1.5 body line-height at 16px */
  line-height: 1.7;
  color: #9b9b9b;
  text-transform: uppercase;
}

.search-suggestion__body {
  flex: auto;
  margin-right: 20px;
  padding: 20px 0;
}

.search-suggestion__type,
.search-suggestion__body {
  /* TODO: This is $gray-lighter */
  border-bottom: 1px solid #e6e6e6;
}

.search-suggestion:last-child .search-suggestion__type,
.search-suggestion:last-child .search-suggestion__body {
  border-bottom: none;
}

.search-suggestion__tags {
  margin-top: 15px;
}

/*
 * Disable small badge margin as spacing is handled already.
 */
.search-suggestion__tags .badge {
  margin: 0;
}

/* for-tablet-portrait-up */
@media screen and (min-width: 600px) {
  .search-suggestions {
    max-height: 540px;
    margin-top: 15px;
  }

  /* Increase flex-basis for DISCUSSION in larger font */
  .search-suggestion__type {
    flex-basis: 130px;
  }
}
